	<table id="marginbox" cellspacing="0">
		<tr class="header">
			<td colspan="3" class="tlbody"></td>
		</tr>
		<tr class="tlbody" *ngFor="let dlog of allDaylogs; let i = index">
			<tl-taskline [myTask]="dlog.description" [idx]="i" [currentDate]="currentDate" [userEmail]="userid" [isRunning]="dlog.isRunning"></tl-taskline>
		</tr>
		<tr class="footer">
			<td colspan="3" class="tlbody"></td>
		</tr>
	</table>

<div id="scrollview">
	<table id="scrollbox" cellspacing="0">
		<tr class="header">
			<td class="tlscale"><img  src="assets/images/bgscale.png" alt="Time scale" /></td>
		</tr>
		<tr *ngFor="let dlog of allDaylogs; let i = index">
			<tl-timeline [idx]="i" [currentDate]="currentDate" [myDaylog]="dlog"></tl-timeline>
		</tr>
		<tr class="header">
			<td class="tlscale"><img  src="assets/images/bgscale.png" alt="Time scale" /></td>
		</tr>
	</table>
</div>


	<!-- LOG CONTENTS -->
	<table class="tmp col-md-12" *ngIf="allDaylogs != null && allDaylogs.length > 0">
		<tr>
			<th>Date</th>
			<th>Task</th>
			<th>Running</th>
			<th>...</th>
			<th>Dirty</th>
			<th>Details</th>
		</tr>
		<tr *ngFor="let dlog of allDaylogs; let i = index">
			<td>{{dlog.logDate}}</td>
			<td>{{dlog.description}}</td>
			<td>{{dlog.isRunning}}</td>
			<td>{{dlog.updateFlag}}</td>
			<td>{{getDirty(i)}}</td>
			<td>
				<ul *ngFor="let tlog of dlog.logs">
					<li>{{getStartStr(tlog)}} - {{getEndStr(tlog)}} ({{getDurationStr(tlog)}}): {{tlog.comment}}</li>
				</ul>
			</td>
		</tr>
	</table>
