#scrollview {
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: #333;
}
#marginbox {
	  float: left;
	  width: 300px;
	  background-color: #333;
  	  border-top: 1px solid #444;
}
#scrollbox {
	 width: 2400px;
	 background-color: #333;
}
th, td {
	padding: 4px;
}
tr.header, tr.footer {
	height: 17px;
	background-color: #333;
	line-height: 17px;
}
tr.header {
  	 border-bottom: 1px solid #666;
}
tr.footer {
  	 border-top: 1px solid #666;
}

tr.tlbody {
	height: 34px;
	background-color: #333;
	border-bottom: 1px solid #666;
}
td.tlscale {
 width: 100%;
 padding: 0;
 border-bottom: 1px solid #666;
}
td.tlscale img {
	  width: 100%;
}
