<div class="row">
<h3>Please sign up to use all features</h3>
<form [formGroup]="myForm" (ngSubmit)="onSignup()">
    <div class="form-group">
        <label for="email">E-Mail</label>
        <input formControlName="email" class="form-control" type="email" id="email" #email>
        <span class="err-message" *ngIf="!email.valid && email.touched">Invalid mail address</span>
        <!--<span *ngIf="email.errors['isTaken']">This username has already been taken</span>-->
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" class="form-control" type="password" id="password">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input formControlName="confirmPassword"
            class="form-control"
            type="password"
            id="confirm-password" #confirmPassword>
        <span class="err-message" *ngIf="!confirmPassword.valid && confirmPassword.touched">Passwords do not match</span>
    </div>
    <div class="form-group">
        <label for="displayName">Full name</label>
        <input formControlName="displayName" class="form-control" type="displayName" id="displayName" #displayName>
        <span class="err-message" *ngIf="!displayName.valid && displayName.touched">Invalid name</span>
        <!--<span *ngIf="email.errors['isTaken']">This username has already been taken</span>-->
    </div>
    <div class="form-group">
        <label for="userid">Your username</label>
        <input formControlName="userid" class="form-control" type="userid" id="userid" #userid>
        <span class="err-message" *ngIf="!userid.valid && userid.touched">Invalid username</span>
        <!--<span *ngIf="email.errors['isTaken']">This username has already been taken</span>-->
    </div>
    <div *ngIf="errorMessage">
      <span class="err-message">{{ errorMessage }}</span>
    </div>
    <button class="btn btn-default" type="submit" [disabled]="!myForm.valid">Sign Up</button>
</form>
</div>
