td.taskdesc {
	padding: 2px 4px;
	width:100%;
}

tr.tlbody {
    width: 100%;
    height: 34px;
    display:block;
    overflow:hidden;
    border-bottom: 1px solid #444;
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn.menu {
	padding: 4px 8px;
	font-size: 11px;
	margin: 2px;
}

.taskform {
  border: 1px solid #444;
  background-color: #333;
  z-index: 60;
  padding: 4px;
  position: absolute;
  left: 80px;
  width: 370px;
  height: 50px;
  margin-top: -20px;
}
