table.summary {
    width: 100%;
    border-color: #999;
}
.taskname, .details, .duration {
    vertical-align: top;
    padding: 4px;
}
.taskname {
    width: 40%;
}
.details {
    width: 45%;
}
.duration {
    width: 15%;
}
.right {
    text-align: right;
}
.footer {
    font-weight: bold;
    padding: 4px;
}
input {
    color: #333333;
}