.modal {
    background: rgba(0,0,0,0.6);
}
.modal-header {
    text-align: center;
    font-weight: 200;
}

.modal-content {
    background-color: #333333;
    color: #cccccc;
}
.modal-dialog {
    border-color: #cccccc;
}