	<div *ngIf="myTlog?.startTime || myTlog?.endTime || myTlog?.comment"
         class="bar"
		  [style.left]="left"
	      [style.width]="width"
	     mwlResizable
	     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
	     [enableGhostResize]="true"
	     (resizeStart)="onResizeStart($event)"
	     (resizeEnd)="onResizeEnd($event)"
		  [contextMenu]="optionMenu"
		  [contextMenuSubject]="myTlog"
		 title="{{details}}"
	     >
	</div>
<context-menu #optionMenu>
  <ng-template contextMenuItem (execute)="onDelete($event)">
    Delete
  </ng-template>
  <ng-template contextMenuItem>
    Comment: <input type="text" [(ngModel)]="myTlog.comment" onmouseover="focus(this)" (change)="markDirty()">
  </ng-template>
</context-menu>
