<header class="header">
    <img src="assets/images/timelogg_logo.png" alt="Timelog Logo" class="logo"/>
    <div class="active-user">{{user?.displayName}}</div>
    <nav class="navbar" ng-controller="MenuCtrl">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLinkActive="active" [routerLink]="['/entry']" *ngIf="isLoggedIn()">Entry</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/summary']" *ngIf="isLoggedIn()">Summary</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/about']">About</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/signup']" *ngIf="!isLoggedIn()">Signup</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/signin']" *ngIf="!isLoggedIn()">Signin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn()">
                <li class="link"><a (click)="logOut()">Logout</a></li>
            </ul>

        </div>
    </nav>
</header>
